In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [30]:
# https://trafficsignstore.com/abbreviations.html
# Need to get a dictionary of the abreviation and proper names
# do something with it, to normalize or standardize the data in the dataframe below
# example -- AVENUE -- > AVE .   OR Street --> ST, etc.... West --> W

html = pd.read_html('https://trafficsignstore.com/abbreviations.html')[0]
html.columns = ['ful1_1', 'abbrev_1', 'full_2', 'abbrev_2']# no nice <th>
html = html.iloc[1:].copy() # skip the zero'th row
html.head()

      ful1_1   abbrev_1     full_2 abbrev_2
1      ALLEY      ALLEY      NORTH        N
2     AVENUE  AVE or AV   NATIONAL     NATL
3  BOULEVARD       BLVD  NORTHEAST       NE
4     BRIDGE         BR  NORTHWEST       NW
5     CANYON        CYN  NORTHWEST       NW

In [34]:
d1 = dict(zip(html.ful1_1, html.abbrev_1))
d2 = dict(zip(html.full_2, html.abbrev_2))
lookup = {**d1, **d2}

In [50]:
# Prototype a solution for a single row whicih needs fixin"
sample = "4830 WEST 15TH STREET" # STREET -- ST, # AVENUE --> "Ave or Av"

# string to list
# build a dict
# iteravte over list
# replace some words with dict value
# go back from newlist to a string
# go home

def clean_row(input_string):
    new_words = []
    words_from_addy = input_string.split() # list of words
    
    for word in words_from_addy:
        if word in lookup:
            new_words.append(lookup[word])
        else:
            new_words.append(word) # nothing to change
    return " ".join(new_words)

def clean_row_john(input_string):
    words = input_string.split()
    for index, w in enumerate(words):
        if w in lookup: #if key in dict modify the value in words otherwise
            words[index] = lookup[w]
    return " ".join(words)

clean_row_john(sample)

'4830 W 15TH ST'

In [42]:
df = pd.read_csv('/Users/jeff/Downloads/class_billing_street.csv')

In [45]:
df['normed_addy'] = df.BillingStreet.map(clean_row)
df.head(20)

,BillingStreet,normed_addy
0,709 GRAND AVE SW,709 GRAND AVE SW
1,1420 SOUTH TRENTON ST M/C 2T-43,1420 S TRENTON ST M/C 2T-43
2,PO BOX 660425,PO BOX 660425
3,135 NORTH SIERRA ST SUITE A-1,135 N SIERRA ST SUITE A-1
4,1275 REDIVERSION RD,1275 REDIVERSION RD
5,600 S MAESTRI PL (HERBERT FEDERAL BLDG),600 S MAESTRI PL (HERBERT FEDERAL BLDG)
6,441 VINE STREET RM 3003,441 VINE ST RM 3003
7,486 REPLACEMENT AVE,486 REPLACEMENT AVE
8,48 DONLEY ST SUITE 504,48 DONLEY ST SUITE 504
9,BUILDING 214 2ND FLOOR ISF SUPPLIER CLASSIFIED...,BUILDING 214 2ND FLOOR ISF SUPPLIER CLASSIFIED...
10,333 CONSTITUTION AVE NW US FOREIGN INTELLIGENCE,333 CONSTITUTION AVE NW US FOREIGN INTELLIGENCE
11,1234 ANYTOWN ST,1234 ANYTOWN ST
12,BLDG #676 VFK COMP RM B-10 VFK,BLDG #676 VFK COMP RM B-10 VFK
13,1800 CENTURY PL NE,1800 CENTURY PL NE
14,1604 BROOKLYN AVE,1604 BROOKLYN AVE
15,1148 E TEXAS AVE,1148 E TEXAS AVE
16,301 VOYAGER WAY NW,301 VOYAGER WAY NW
17,120 EAST WILLIAMS STREET,120 E WILLIAMS ST
18,101 E POST ROAD,101 E POST RD
19,4830 WEST 15TH STREET,4830 W 15TH ST

In [51]:
import string

In [52]:
string.punctuation # go over my string, remove all chars in string.punuctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [57]:
import re
s = "string. () With. Punctuation?"
s = re.sub(r'[^\w\s]','',string.punctuation)
s.replace("_", "") #adios

''