# Project 2: Boulder Open Data
This notebook explores possible data sources for Project 2.

**Informational URL:** https://bouldercolorado.gov/open-data/search/?p=1&q=osmp

In [216]:
import requests
import pandas as pd

# Visitor Master Plan

**Informational URL**: 
https://bouldercolorado.gov/open-data/city-of-boulder-osmp-visitor-master-plan/

In [127]:
url_master_plan = "https://www-static.bouldercolorado.gov/docs/opendata/OSMPManagementAreas.GeoJSON?_ga=2.177582950.2110561214.1553967684-646607836.1553818032"

# response.encoding = 'utf-8'
#data = data.content.decode('utf-8') 

data = requests.get(url_master_plan)
data = data.json().get("features")
df = pd.DataFrame.from_records(data)

# Break out data nested in columns into individual columns.
# Extract data from dictionaries within each dataframe column.
# Add those values as new columns.
df2 = df["geometry"].apply(pd.Series)
df3 = df["properties"].apply(pd.Series)

# We do not concatenate the original data back to the dataframe.
# Thus, df is missing from the next line.
df = pd.concat([df2, df3], axis=1)

# Add new columns to break numeric keys into quartiles.
# This makes it easier to summarize counts in the next cells.
df['Acres_Qcut'] = pd.qcut(df['Acres'], 4)
df['Hectares_Qcut'] = pd.qcut(df['Hectares'], 4)

df.head()

,coordinates,type,Acres,Active,Hectares,MGMT_AREA,OtherInfo,Shape_area,Shape_len,ZONENAME,Acres_Qcut,Hectares_Qcut
0,"[[[-105.262030799, 40.0727756001], [-105.26201...",Polygon,611.773295,Yes,247.574967,Passive Recreation Area,None,2.664874e+07,63743.031494,Boulder Valley Ranch,"(146.676, 3527.719]","(75.07, 1427.829]"
1,"[[[-105.218311979, 40.0271273377], [-105.21829...",Polygon,47.545223,Yes,19.240873,Natural Area,None,2.071062e+06,11975.552231,Creek Confluence,"(42.312, 146.676]","(2.271, 19.883]"
2,"[[[-105.19535804, 39.9968808738], [-105.195564...",Polygon,68.539902,Yes,27.737115,Passive Recreation Area,None,2.985586e+06,10308.327996,Dry Creek,"(42.312, 146.676]","(19.883, 75.07]"
3,"[[[-105.305335014, 40.0389272482], [-105.30533...",Polygon,352.149495,Yes,142.509183,Natural Area,None,1.533955e+07,27987.459519,West Sanitas,"(146.676, 3527.719]","(75.07, 1427.829]"
4,"[[[-105.243405171, 40.0152373259], [-105.24340...",Polygon,3.396253,Yes,1.374415,Natural Area,None,1.479402e+05,2589.740297,Outlots,"(0.037, 5.612]","(-0.001, 2.271]"

In [118]:
# Explore the data for counts, data types, and nullables.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 10 columns):
coordinates    186 non-null object
type           186 non-null object
Acres          186 non-null float64
Active         183 non-null object
Hectares       186 non-null float64
MGMT_AREA      186 non-null object
OtherInfo      11 non-null object
Shape_area     186 non-null float64
Shape_len      186 non-null float64
ZONENAME       185 non-null object
dtypes: float64(4), object(6)
memory usage: 14.6+ KB

In [140]:
# And get a sense of counts to see what kind of charts we might be
# able to make.
for c in df.columns[[1,3,5,6,9,10]]:
    print "---- %s ---" % c
    print df[c].value_counts()

---- type ---
Polygon    186
Name: type, dtype: int64
---- Active ---
Yes    148
No      35
Name: Active, dtype: int64
---- MGMT_AREA ---
Natural Area                               87
Habitat Conservation Area                  31
Passive Recreation Area                    29
Agricultural Area                          15
Natural Area - Conditional                  9
Habitat Conservation Area - Conditional     7
Passive Recreation Area - Conditional       5
Agricultural Area - Conditional             2
TBD                                         1
Name: MGMT_AREA, dtype: int64
---- OtherInfo ---
No Public Access    11
Name: OtherInfo, dtype: int64
---- ZONENAME ---
Northern Tier                               19
Creek Confluence                            14
Outlots                                     13
Southern Grasslands                         11
Diagonal                                    10
South Boulder Creek                          9
East Boulder Valley                          9
Boulder Valley Ranch                         8
East Beech                                   6
Western Mountain Parks                       6
Tallgrass Prairie East                       6
East Boulder                                 4
Valmont Reservoir                            4
Sanitas Valley / Red Rocks                   3
Gunbarrel / Heatherwood - PRA                3
Lower Boulder Creek                          3
Lefthand Canyon                              3
Shanahan                                     3
Gunbarrel / Heatherwood - NA                 3
East Marshall Mesa                           3
North Foothills                              2
Wonderland                                   2
North Boulder Valley                         2
Doudy Draw                                   2
Cottonwood Grove                             2
Flagstaff / Chautauqua                       2
Sombrero Marsh                               2
Jewel Mountain                               2
Eldorado Mountain                            2
Arapahoe Chemicals                           1
Wille                                        1
Stratton                                     1
West Sanitas                                 1
Dry Creek                                    1
Dakota Ridge Village                         1
Flatirons / Mountain Backdrop                1
Salaman                                      1
Palo Park Trail East                         1
Shanahan, North - Trail Easemnt              1
Pospahala                                    1
West Marshall Mesa                           1
Public Service Company - Sunshine Canyon     1
Hart - Jones Exchange                        1
Valmont Industrial Park                      1
Palo Park Trail West                         1
Gunbarrel Tech Center l North                1
Gunbarrel / Heatherwood                      1
Woodley                                      1
ZONENAME\tGunbarrel / Heatherwood - NA       1
Kaufmann                                     1
Elephant Buttress                            1
Hodges                                       1
Anemone Hill                                 1
Lappin                                       1
Schneider-IRLLC                              1
South Mesa                                   1
Name: ZONENAME, dtype: int64
---- Acres_Qcut ---
(146.676, 3527.719]    47
(0.037, 5.612]         47
(42.312, 146.676]      46
(5.612, 42.312]        46
Name: Acres_Qcut, dtype: int64

# OSMP Climbing Formations

**Informational URL**:  https://bouldercolorado.gov/open-data/osmp-climbing-formations/

In [217]:
url_climbing_formations = "https://www-static.bouldercolorado.gov/docs/opendata/OSMPClimbingFormations.GeoJSON?_ga=2.118797002.2110561214.1553967684-646607836.1553818032"

data = requests.get(url_climbing_formations)
data = data.json().get('features')
df = pd.DataFrame.from_records(data)

# Break out data nested in columns into individual columns.
# Extract data from dictionaries within each dataframe column.
# Add those values as new columns.
df2 = df["geometry"].apply(pd.Series)
df3 = df["properties"].apply(pd.Series)

# We do not concatenate the original data back to the dataframe.
# Thus, df is missing from the next line.
df = pd.concat([df2, df3], axis=1)

# Add new columns to break numeric keys into quartiles.
# This makes it easier to summarize counts in the next cells.
df['UseRating_Qcut'] = pd.qcut(df['UseRating'], 4)
df['ROUTES_Qcut'] = pd.qcut(df['ROUTES'], 4, duplicates="drop")

df.head()

,coordinates,type,AKA,AreaAccess,ClosureAct,FEATURE,FormationT,HCA,ID,Label,OWNER,PERMITREQ,ROUTES,SeasonalCl,UseRating,UseRating_Qcut,ROUTES_Qcut
0,"[-105.294224206, 40.0050200439]",Point,First Areas,Flagstaff,N,Pumpkin Rock,Boulder,No,1,11,OSMP,No,4,N,2.50,"(2.0, 3.0]","(-0.001, 34.0]"
1,"[-105.28786089, 39.9752763893]",Point,None,NCAR,N,Veranda,Wall,No,2,186,OSMP,No,2,N,0.00,"(-0.001, 1.0]","(-0.001, 34.0]"
2,"[-105.29359767, 39.9954108421]",Point,None,Gregory Canyon,N,Third Pinnacle,Wall,No,3,12,OSMP,No,7,N,1.25,"(1.0, 1.8]","(-0.001, 34.0]"
3,"[-105.294391407, 39.9863578462]",Point,None,Chautauqua,N,The Fin,Wall,No,4,33,OSMP,No,1,Y,1.17,"(1.0, 1.8]","(-0.001, 34.0]"
4,"[-105.292810793, 39.9959517203]",Point,None,Gregory Canyon,N,First Pinnacle,Wall,No,6,13,OSMP,No,23,N,2.20,"(2.0, 3.0]","(-0.001, 34.0]"

In [164]:
# Explore the data for counts, data types, and nullables.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466 entries, 0 to 465
Data columns (total 17 columns):
coordinates       466 non-null object
type              466 non-null object
AKA               49 non-null object
AreaAccess        466 non-null object
ClosureAct        466 non-null object
FEATURE           466 non-null object
FormationT        466 non-null object
HCA               466 non-null object
ID                466 non-null int64
Label             466 non-null int64
OWNER             466 non-null object
PERMITREQ         466 non-null object
ROUTES            466 non-null int64
SeasonalCl        466 non-null object
UseRating         466 non-null float64
UseRating_Qcut    466 non-null category
ROUTES_Qcut       466 non-null category
dtypes: category(2), float64(1), int64(3), object(11)
memory usage: 55.7+ KB

In [165]:
# And get a sense of counts to see what kind of charts we might be
# able to make.

for c in df.columns[[1,2,3,4,5,6,10,11,12,13,15]]:
    print "---- %s ---" % c
    print df[c].value_counts()

---- type ---
Point    466
Name: type, dtype: int64
---- AKA ---
Shadow Canyon Boulders    6
Satellite Boulders        5
North Terrain Boulders    4
Skunk Canyon East         4
Upper Blues Boulders      4
Monkey Traverse Area      3
Terrain Boulders          3
Skunk Canyon West         3
Physical Boulders         2
Metaphysical Boulders     2
Eldo East Draw            2
First Areas               2
Cloudshadow Area          2
Past Monkey Traverse      2
North Wing                1
Physical Boulder          1
Great Ridge               1
South Wing                1
Upper Terrain Boulders    1
Name: AKA, dtype: int64
---- AreaAccess ---
Cragmoor Rd            81
Sacred Cliffs          78
NCAR                   68
Bear Mountain Drive    65
Chautauqua             64
South Mesa Trail       42
Eldo                   23
Flagstaff              15
Eldorado Mountain      12
Gregory Canyon          8
Mt Sanitas              8
Boulder Canyon          2
Name: AreaAccess, dtype: int64
---- ClosureAct ---
N    461
Y      5
Name: ClosureAct, dtype: int64
---- FEATURE ---
Satellite Boulders                  5
Unknown                             5
Unnamed Boulder                     5
Fern Canyon Boulders                4
The Egg                             2
Round Rock                          2
Unkown                              2
Christmas Block                     2
The Devil's Wings                   2
R-Break                             1
Maroon Bell                         1
Playful Boulder                     1
Laser Beam Crack Boulder            1
Sputnik Boulder                     1
Gumdrop Boulder                     1
Gigantor                            1
BBC Boulder                         1
Capstan                             1
Slab Overlook                       1
Zoofarsus Boulder                   1
The Hand                            1
Tree Bench Boulder                  1
Beehive Left                        1
Southern Dinosaur Egg               1
Ridge One (Like Heaven)             1
Radio IX                            1
Easter Rock                         1
Blarn Stone                         1
Green-Ranger Junction               1
Serpent                             1
                                   ..
Bob Boulder (Wanka Rock)            1
Radio XI                            1
First Flatironette                  1
W.C. Fields Pinnacle                1
Front Porch                         1
The Dome                            1
Upper Blues Boulders                1
Masters Edge                        1
Low Rock North                      1
The Sibling                         1
Second Pinnacle                     1
Big Time                            1
Jug Rock                            1
Sunoutcrop                          1
Blobular Boulder                    1
Pocket Face by Northern Dino Egg    1
Tubular Boulder                     1
Step Stone Boulder                  1
The Bubble                          1
Blarn Spire                         1
Music Pinnacle                      1
Intercept                           1
Slants Boulder                      1
Eldo East Draw Boulders             1
Bulb                                1
Tip Rock                            1
Wall Block                          1
Jaws                                1
Shanahan Crags                      1
Radio VIII                          1
Name: FEATURE, Length: 446, dtype: int64
---- FormationT ---
Boulder    308
Wall       158
Name: FormationT, dtype: int64
---- OWNER ---
OSMP           450
PRIVATE         11
STATE PARKS      4
BOCO             1
Name: OWNER, dtype: int64
---- PERMITREQ ---
No     438
Yes     28
Name: PERMITREQ, dtype: int64
---- ROUTES ---
0     373
2      21
3      15
1      14
4       6
7       5
8       4
6       4
5       3
14      3
10      3
30      2
13      2
9       2
34      1
31      1
12      1
16      1
20      1
21      1
22      1
23      1
11      1
Name: ROUTES, dtype: int64
---- SeasonalCl ---
N    358
Y    108
Name: SeasonalCl, dtype: int64
---- UseRating_Qcut ---
(1.0, 1.8]       142
(-0.001, 1.0]    139
(2.0, 3.0]        95
(1.8, 2.0]        90
Name: UseRating_Qcut, dtype: int64

# OSMP Lands

**Informational URL:** https://bouldercolorado.gov/open-data/city-of-boulder-osmp-lands/

In [173]:
url_lands = "https://www-static.bouldercolorado.gov/docs/opendata/OSMPLands.GeoJSON?_ga=2.72783824.2110561214.1553967684-646607836.1553818032"

data = requests.get(url_lands)
data = data.json().get('features')
df = pd.DataFrame.from_records(data)

# Break out data nested in columns into individual columns.
# Extract data from dictionaries within each dataframe column.
# Add those values as new columns.
df2 = df["geometry"].apply(pd.Series)
df3 = df["properties"].apply(pd.Series)

# We do not concatenate the original data back to the dataframe.
# Thus, df is missing from the next line.
df = pd.concat([df2, df3], axis=1)

# Add new columns to break numeric keys into quartiles.
# This makes it easier to summarize counts in the next cells.
df['Acres_Qcut'] = pd.qcut(df['Acres'], 4)
df['Hectares_Qcut'] = pd.qcut(df['Hectares'], 4)

df.head()

,coordinates,type,AcqID,Acres,BldEnv,Hectares,JOINTPURCH,Manager,NAME,PUBLICACCE,...,Shape_area,Shape_len,T,TSA,TYPE,WhyNoAcces,YEARCLOSE,lbl_Acres,Acres_Qcut,Hectares_Qcut
0,"[[[-105.251681628, 40.1706585478], [-105.25974...",Polygon,933,74.395579,NO,30.106822,n,OSMP,WALDORF,n,...,3.240658e+06,7908.705573,2N,NTSA,Fee Property,New Property,2002,74,"(63.103, 1751.151]","(25.537, 708.666]"
1,"[[[-105.192477352, 40.1705964942], [-105.19248...",Polygon,886,71.330724,NO,28.866520,n,OSMP,OASIS DIRECT SEVEN,n,...,3.107154e+06,7998.047884,2N,NTSA,Fee Property,New Property,2001,71,"(63.103, 1751.151]","(25.537, 708.666]"
2,"[[[-105.23036232, 40.1705114451], [-105.230371...",Polygon,867,83.489831,NO,33.787136,y,Private,LOPEZ Ce,n,...,3.636802e+06,13253.526495,2N,NTSA,Conservation Easement,Conservation Easement,2002,83,"(63.103, 1751.151]","(25.537, 708.666]"
3,"[[[-105.183179544, 40.1492129459], [-105.18316...",Polygon,918,35.619969,NO,14.414890,y,BCPOS,SUITTS,n,...,1.551600e+06,5878.349554,2N,NTSA,Fee Property,BOCO Management,2001,36,"(19.422, 63.103]","(7.86, 25.537]"
4,"[[[-105.183179544, 40.1492129459], [-105.18324...",Polygon,918,35.895468,NO,14.526380,y,BCPOS,SUITTS,n,...,1.563600e+06,7047.015249,2N,NTSA,Fee Property,BOCO Management,2001,36,"(19.422, 63.103]","(7.86, 25.537]"

In [174]:
# Explore the data for counts, data types, and nullables.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 733 entries, 0 to 732
Data columns (total 24 columns):
coordinates      733 non-null object
type             733 non-null object
AcqID            733 non-null int64
Acres            733 non-null float64
BldEnv           733 non-null object
Hectares         733 non-null float64
JOINTPURCH       733 non-null object
Manager          733 non-null object
NAME             733 non-null object
PUBLICACCE       733 non-null object
PolyID           733 non-null int64
PropertyID       733 non-null int64
R                724 non-null object
S                724 non-null object
Shape_area       733 non-null float64
Shape_len        733 non-null float64
T                724 non-null object
TSA              672 non-null object
TYPE             733 non-null object
WhyNoAcces       289 non-null object
YEARCLOSE        733 non-null int64
lbl_Acres        733 non-null int64
Acres_Qcut       733 non-null category
Hectares_Qcut    733 non-null category
dtypes: category(2), float64(4), int64(5), object(13)
memory usage: 127.6+ KB

In [181]:
# And get a sense of counts to see what kind of charts we might be
# able to make.

for c in df.columns[[4,6,7,8,9,12,16,17,18,19,20,22,23]]:
    print "---- %s ---" % c
    print df[c].value_counts()

---- BldEnv ---
NO     698
YES     35
Name: BldEnv, dtype: int64
---- JOINTPURCH ---
n    641
y     92
Name: JOINTPURCH, dtype: int64
---- Manager ---
OSMP       489
Private    132
BCPOS       70
CE          42
Name: Manager, dtype: int64
---- NAME ---
SUITTS                                             6
VARRA, EAST                                        6
SUPERIOR ASSOCIATES                                6
SAWHILL PONDS                                      6
SCHNEIDER-IRLLC                                    5
DAMYANOVICH                                        5
BUCKINGHAM PARK                                    5
VARRA, EAST - CE Southeast                         4
CARIBOU RANCH - CE - LAKEWOOD PARCEL               4
VALMONT BUTTE                                      3
ANDERSON                                           3
OAKLEY BE                                          3
JODER II                                           3
DAGLE                                              3
GREENBELT PLATEAU                                  3
KELSALL                                            3
US PATENT - GREEN MTN.                             3
RICE CE                                            3
WRIGHT                                             3
CARIBOU RANCH - CE - CARIBOU RANCH MEADOW          3
BOULDER FALLS - Luckie No. 3                       3
EBNER                                              2
MONTESSORI / LANDMARK                              2
BOULDER FALLS - American Millsite                  2
SCHNEIDER DONATION                                 2
KAUFMANN                                           2
TRACY-COLLINS                                      2
KOLB  II                                           2
JOHNSON - North                                    2
OVERFELT CE                                        2
                                                  ..
MARKEL  IV CE - No. 26th St.                       1
WARNER  I - Open Space                             1
LYNCH CE                                           1
LUCHETTA CE                                        1
SUMMERS                                            1
RUDD - West                                        1
ELLISON                                            1
McCANN, V - I                                      1
LAYBOURN                                           1
THOMAS, HOGAN, PARRISH (T.H.P.) - East             1
OCONNOR FAMILY                                     1
AUTREY                                             1
Benedictine Abbey                                  1
CARIBOU RANCH - CE - CARIBOU CITY ESTATE LOT 4A    1
AXELSON, EAST                                      1
STAREK CE North                                    1
RUDD - East                                        1
REYNOLDS                                           1
BEECH - East                                       1
J-FAMILY CE                                        1
MINNETRISTA  II                                    1
HOGAN RANCH - (CE BE#3)                            1
SISK                                               1
WARNER  I - CE                                     1
HOGAN RANCH - (CE Well Site)                       1
CULVER  CE                                         1
Overlook                                           1
STREAR BE                                          1
TELLER LAKE (1/3 Hartnagle)                        1
UNITED BANK SE                                     1
Name: NAME, Length: 618, dtype: int64
---- PUBLICACCE ---
y    443
n    290
Name: PUBLICACCE, dtype: int64
---- R ---
70W    413
71W    180
69W     75
73W     36
72W     11
70       4
71       3
74W      2
Name: R, dtype: int64
---- T ---
1N    364
1S    277
2N     79
2S      3
3N      1
Name: T, dtype: int64
---- TSA ---
ETSA    249
WTSA    165
NTSA    161
STSA     97
Name: TSA, dtype: int64
---- TYPE ---
Fee Property              488
Conservation Easement     192
Miscellaneous Easement     50
Open Scenic Easement        3
Name: TYPE, dtype: int64
---- WhyNoAcces ---
Conservation Easement                                 185
New Property                                           36
Resource Protection                                    17
BOCO Management                                        12
Public Safety                                           8
Director's Discretion (5-4-6 Tresspass on Public P      7
Miscellaneous Easement                                  6
Acquisition Agreement                                   5
VMP                                                     3
Life Estate                                             3
Long Term Lease                                         2
Life Estate, Conservation Easement                      1
Director's Discretion (Ordinance 5-4-6)                 1
Resource Protection, Long Term Lease                    1
Life Estate, New Property                               1
Director's Discretion (ordinance 5-4-6)                 1
Name: WhyNoAcces, dtype: int64
---- YEARCLOSE ---
2001    61
1992    43
2000    34
1990    32
1984    31
1985    31
1991    30
1986    27
2007    26
2006    25
1995    21
1983    21
1973    20
1974    18
2004    18
1999    17
1997    16
2005    15
1977    15
1993    15
1998    14
1981    11
2013    11
1980    10
1976    10
1971    10
2002     9
1996     9
1978     9
1988     9
        ..
1970     5
2014     5
2012     5
1969     4
1968     4
1994     4
1909     3
1972     3
2015     3
2017     3
1962     3
1920     2
1960     2
1966     2
1967     2
2008     2
1914     2
1899     1
1898     1
1903     1
1875     1
1908     1
2011     1
1913     1
1916     1
1926     1
1965     1
2010     1
2016     1
2018     1
Name: YEARCLOSE, Length: 68, dtype: int64
---- Acres_Qcut ---
(0.0231, 2.997]       184
(63.103, 1751.151]    183
(19.422, 63.103]      183
(2.997, 19.422]       183
Name: Acres_Qcut, dtype: int64
---- Hectares_Qcut ---
(0.00874, 1.213]     184
(25.537, 708.666]    183
(7.86, 25.537]       183
(1.213, 7.86]        183
Name: Hectares_Qcut, dtype: int64

# Prairie Dog Colonies

**Informational URL:* https://bouldercolorado.gov/open-data/city-of-boulder-osmp-prairie-dog-colonies/clim

In [184]:
url_prarie_dogs = "https://www-static.bouldercolorado.gov/docs/opendata/OSMPPrairieDogColonies.GeoJSON?_ga=2.72783824.2110561214.1553967684-646607836.1553818032"

data = requests.get(url_prarie_dogs)
data = data.json().get('features')
df = pd.DataFrame.from_records(data)

# Break out data nested in columns into individual columns.
# Extract data from dictionaries within each dataframe column.
# Add those values as new columns.
df2 = df["geometry"].apply(pd.Series)
df3 = df["properties"].apply(pd.Series)

# We do not concatenate the original data back to the dataframe.
# Thus, df is missing from the next line.
df = pd.concat([df2, df3], axis=1)

# Add new columns to break numeric keys into quartiles.
# This makes it easier to summarize counts in the next cells.
df['Acres_Qcut'] = pd.qcut(df['Acres'], 4)
df['Hectares_Qcut'] = pd.qcut(df['Hectares'], 4)

df.head()

,coordinates,type,Acres,Activity,Comment,Hectares,Manager,Name,PD_ID,Perimeter,Plague,Shape_area,Shape_len,Year,YearAcquir,sdeWildlif,Acres_Qcut,Hectares_Qcut
0,"[[[[-105.25510497573354, 40.1107786117921], [-...",MultiPolygon,30.013797,2.0,None,12.146153,OSMP,Brewbaker,126.0,17407.132776,None,1.307396e+06,17407.132776,2009.0,1996,1.307396e+06,"(11.674, 32.957]","(4.724, 13.337]"
1,"[[[-105.212594791, 40.0936916196], [-105.21255...",Polygon,5.450247,2.0,None,2.205637,OSMP,Cowles,26.0,2875.475502,None,2.374118e+05,2875.475502,2009.0,1991,2.374118e+05,"(3.029, 11.674]","(1.226, 4.724]"
2,"[[[[-105.22302997985106, 39.97012490453621], [...",MultiPolygon,6.346785,2.0,None,2.568453,OSMP,Sams Lane/Van Vleet - west,136.0,4246.332172,None,2.764648e+05,4246.332172,2009.0,1978,2.764648e+05,"(3.029, 11.674]","(1.226, 4.724]"
3,"[[[[-105.18539718806075, 39.9896294967146], [-...",MultiPolygon,47.677422,2.0,None,19.294368,OSMP,Marshall,68.0,10818.604923,None,2.076820e+06,10818.604923,2009.0,1997,2.076820e+06,"(32.957, 565.835]","(13.337, 228.985]"
4,"[[[-105.29348293, 40.0571514749], [-105.293468...",Polygon,16.960038,2.0,None,6.863484,OSMP,ERNI- Moore,38.0,5580.871249,None,7.387763e+05,5580.871249,2009.0,1967,7.387763e+05,"(11.674, 32.957]","(4.724, 13.337]"

In [185]:
# Explore the data for counts, data types, and nullables.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1939 entries, 0 to 1938
Data columns (total 18 columns):
coordinates      1939 non-null object
type             1939 non-null object
Acres            1939 non-null float64
Activity         1939 non-null float64
Comment          231 non-null object
Hectares         1939 non-null float64
Manager          1939 non-null object
Name             1939 non-null object
PD_ID            1939 non-null float64
Perimeter        1939 non-null float64
Plague           67 non-null object
Shape_area       1939 non-null float64
Shape_len        1939 non-null float64
Year             1939 non-null float64
YearAcquir       1939 non-null object
sdeWildlif       1939 non-null float64
Acres_Qcut       1939 non-null category
Hectares_Qcut    1939 non-null category
dtypes: category(2), float64(9), object(7)
memory usage: 246.4+ KB

In [187]:
# And get a sense of counts to see what kind of charts we might be
# able to make.

for c in df.columns[[1,3,6,10,13,14,16,17]]:
    print "---- %s ---" % c
    print df[c].value_counts()

---- type ---
MultiPolygon    1086
Polygon          853
Name: type, dtype: int64
---- Activity ---
2.0    1939
Name: Activity, dtype: int64
---- Manager ---
OSMP    1939
Name: Manager, dtype: int64
---- Plague ---
2006         39
2005          8
2007          7
2008          5
NO            3
2009          2
likely        1
1999          1
suspected     1
Name: Plague, dtype: int64
---- Year ---
2016.0    112
2015.0    110
2018.0    109
2012.0    108
2017.0    108
2011.0    101
2013.0    101
2014.0    100
2008.0    100
2009.0     95
2010.0     95
2005.0     89
2007.0     88
2002.0     86
2003.0     83
2004.0     81
2001.0     78
2006.0     74
2000.0     68
1999.0     51
1998.0     47
1997.0     38
1996.0     17
Name: Year, dtype: int64
---- YearAcquir ---
1992    135
1984    135
1973    135
1990    114
1974     92
1999     85
2000     83
1993     82
1985     78
1978     78
1977     75
1995     75
1991     72
2001     69
1998     68
1975     62
1997     62
2006     52
1988     48
1968     39
1980     37
2002     37
1986     26
2013     23
2011     23
1981     23
1996     22
2005     21
1979     17
2007     17
1967     14
1994     10
2010      9
1971      9
2014      4
2004      3
1954      3
2018      1
1983      1
Name: YearAcquir, dtype: int64
---- Acres_Qcut ---
(32.957, 565.835]     485
(3.029, 11.674]       485
(-0.000831, 3.029]    485
(11.674, 32.957]      484
Name: Acres_Qcut, dtype: int64
---- Hectares_Qcut ---
(13.337, 228.985]      485
(1.226, 4.724]         485
(-0.0009316, 1.226]    485
(4.724, 13.337]        484
Name: Hectares_Qcut, dtype: int64

# OSMP Trailheads

**Informational URL:* https://bouldercolorado.gov/open-data/city-of-boulder-osmp-trailheads/

In [194]:
url_trailheads = "https://www-static.bouldercolorado.gov/docs/opendata/OSMPTrailheads.GeoJSON?_ga=2.239917760.2110561214.1553967684-646607836.1553818032"

data = requests.get(url_trailheads)
data = data.json().get('features')
df = pd.DataFrame.from_records(data)

# Break out data nested in columns into individual columns.
# Extract data from dictionaries within each dataframe column.
# Add those values as new columns.
df2 = df["geometry"].apply(pd.Series)
df3 = df["properties"].apply(pd.Series)

# We do not concatenate the original data back to the dataframe.
# Thus, df is missing from the next line.
df = pd.concat([df2, df3], axis=1)

# Add new columns to break numeric keys into quartiles.
# This makes it easier to summarize counts in the next cells.
#df['Acres_Qcut'] = pd.qcut(df['Acres'], 4)
#df['Hectares_Qcut'] = pd.qcut(df['Hectares'], 4)

df.head()

,coordinates,type,ADAcamping,ADAfacName,ADAfacilit,ADAfishing,ADAparking,ADApicnic,ADAsurface,ADAtoilet,...,FISHING,Fee,Grills,HorseTrail,PICNIC,ParkSpaces,RESTROOMS,RecycleBin,THLeash,TrashCans
0,"[-105.306512592, 40.0050207871, 1.4107668579e-05]",Point,No,Wood Shelter,Yes,No,Yes,Yes,Asphalt,Yes,...,No,Yes,Yes,Not Recommended,Yes,12,Yes,Yes,Yes,4.0
1,"[-105.303488566, 40.004187738, 2088.98409336]",Point,No,Nature Center,Yes,No,Yes,Yes,Asphalt,Yes,...,No,Yes,Yes,Not Recommended,Yes,56,Yes,Yes,Yes,6.0
2,"[-105.131779303, 40.0620347568, 1579.71470042]",Point,No,None,No,No,No,No,No,No,...,No,No,No,Not Recommended,No,6,No,No,Yes,1.0
3,"[-105.306433742, 40.111297871, 1813.40045099]",Point,No,None,No,No,Yes,Yes,Crusher Fines,Yes,...,Yes,No,Yes,Possible,Yes,35,Yes,Yes,Yes,2.0
4,"[-105.295324303, 40.0140342671, 1651.04904637]",Point,No,None,No,No,Yes,Yes,Cement/Crusher,No,...,Yes,No,No,Not Recommended,Yes,27,No,Yes,Yes,2.0

In [204]:
# Explore the data for counts, data types, and nullables.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 33 columns):
coordinates    37 non-null object
type           37 non-null object
ADAcamping     37 non-null object
ADAfacName     12 non-null object
ADAfacilit     37 non-null object
ADAfishing     37 non-null object
ADAparking     37 non-null object
ADApicnic      37 non-null object
ADAsurface     37 non-null object
ADAtoilet      37 non-null object
ADAtrail       37 non-null object
AKA            4 non-null object
AccessID       37 non-null object
AccessName     37 non-null object
AccessType     37 non-null object
Address        37 non-null object
BikeRack       37 non-null object
BikeTrail      37 non-null object
Class          37 non-null object
DateFrom       37 non-null object
DateTo         37 non-null object
DogCompost     37 non-null object
DogTube        37 non-null float64
FISHING        37 non-null object
Fee            37 non-null object
Grills         37 non-null object
HorseTrail     37 non-null object
PICNIC         37 non-null object
ParkSpaces     37 non-null int64
RESTROOMS      37 non-null object
RecycleBin     37 non-null object
THLeash        37 non-null object
TrashCans      37 non-null float64
dtypes: float64(2), int64(1), object(30)
memory usage: 9.6+ KB

In [207]:
# And get a sense of counts to see what kind of charts we might be
# able to make.

for c in df.columns[1:]:
    print "---- %s ---" % c
    print df[c].value_counts()

---- type ---
Point    37
Name: type, dtype: int64
---- ADAcamping ---
No     36
Yes     1
Name: ADAcamping, dtype: int64
---- ADAfacName ---
Interpretive Signs         2
Overlook                   2
Ranger Cottage             1
Dock/Shelter/Bird Blind    1
Foothills Nature Center    1
Fishing Dock               1
Cherryvale Offices         1
Nature Center              1
Wood Shelter               1
Overlook/Fee Station       1
Name: ADAfacName, dtype: int64
---- ADAfacilit ---
No     23
Yes    14
Name: ADAfacilit, dtype: int64
---- ADAfishing ---
No     30
Yes     7
Name: ADAfishing, dtype: int64
---- ADAparking ---
Yes        27
No          7
Offsite     2
Yes x 2     1
Name: ADAparking, dtype: int64
---- ADApicnic ---
No     20
Yes    17
Name: ADApicnic, dtype: int64
---- ADAsurface ---
Crusher Fines        15
No                    7
Roadbase/Crusher      7
Asphalt               2
Roadebase/Crusher     2
Cement/Crusher        1
Cement                1
Roadebase             1
Roadbase              1
Name: ADAsurface, dtype: int64
---- ADAtoilet ---
No     24
Yes    13
Name: ADAtoilet, dtype: int64
---- ADAtrail ---
No                            9
Moderate                      7
Easy                          6
Difficult                     5
Moderate-Difficult            4
No (ADA access to cottage)    1
Moderate-Most Difficult       1
Yes                           1
Most Difficult                1
Easy to Moderate              1
Easy-Difficult                1
Name: ADAtrail, dtype: int64
---- AKA ---
Sage           1
Pano           1
Thomas Lane    1
Bobo           1
Name: AKA, dtype: int64
---- AccessID ---
408     1
101     1
263     1
282     1
279     1
502a    1
277     1
235     1
116     1
272     1
245     1
250     1
503     1
284     1
513     1
297     1
210     1
106     1
503a    1
286     1
410     1
514     1
407a    1
512     1
283     1
507     1
508c    1
401     1
409     1
403     1
417     1
201     1
957     1
1001    1
103     1
418     1
308     1
Name: AccessID, dtype: int64
---- AccessName ---
Flagstaff Summit West                1
Buckingham Park                      1
Left Hand                            1
Greenbelt Plateau                    1
Fourth of July                       1
Wonderland Lake                      1
Sawhill Ponds                        1
Crown Rock                           1
Lost Gulch Overlook                  1
Dry Creek                            1
South Boulder Creek West             1
Halfway House                        1
Realization Point                    1
Foothills                            1
Flatirons Vista                      1
Boulder Valley Ranch                 1
South Mesa                           1
Enchanted Mesa                       1
Cherryvale                           1
Marshall Mesa                        1
Bobolink                             1
Panorama Point                       1
NCAR                                 1
Teller Farm North                    1
Centennial                           1
Cottonwood                           1
Gregory Canyon                       1
Doudy Draw                           1
Flagstaff Summit East                1
East Boulder Trail at White Rocks    1
Chapman Drive                        1
Teller Farm South                    1
Settler's Park                       1
Eagle                                1
Chautauqua                           1
Joder Ranch                          1
Four Mile Creek                      1
Name: AccessName, dtype: int64
---- AccessType ---
TH    37
Name: AccessType, dtype: int64
---- Address ---
None                           2
1000 Flagstaff Rd              1
420 Lee Hill Rd                1
5101 Highway 128               1
3850 Neva Rd                   1
101 Pearl St                   1
1405 South Foothills Hwy.      1
1850 Table Mesa Dr             1
5273 North Broadway            1
900 Baseline                   1
3663 State Hwy. 93             1
8331 Arapahoe                  1
3400 75th St                   1
790 Flagstaff Summit Rd        1
4705 95th St                   1
621 Flagstaff Summit Rd        1
2100 Flagstaff Rd              1
4201 N. Broadway               1
3900 Longhorn Rd               1
1100 Flagstaff Rd              1
3400 Flagstaff Rd              1
5258 E. Eldorado Springs Dr    1
4800 4th of July Rd            1
6802 Baseline Rd               1
5797 51st St                   1
4100 Eldorado Springs Dr.      1
66 S. Cherryvale Rd            1
8990 Valmont                   1
5880 Baseline Rd               1
2500 Left-hand Canyon Dr       1
301 Sunshine Canyon Rd         1
4111 Eldorado Springs Dr.      1
38471 Boulder Canyon Drive     1
171 Flagstaff Rd               1
5102 Independence Rd           1
198 Morning Glory Dr           1
Name: Address, dtype: int64
---- BikeRack ---
Yes    35
No      2
Name: BikeRack, dtype: int64
---- BikeTrail ---
Yes    19
No     18
Name: BikeTrail, dtype: int64
---- Class ---
T1    15
T3    15
T2     7
Name: Class, dtype: int64
---- DateFrom ---
2005/12/31    35
2015/09/15     1
2013/01/01     1
Name: DateFrom, dtype: int64
---- DateTo ---
2099/12/31    37
Name: DateTo, dtype: int64
---- DogCompost ---
No     22
Yes    15
Name: DogCompost, dtype: int64
---- DogTube ---
1.0    30
0.0     7
Name: DogTube, dtype: int64
---- FISHING ---
No     28
Yes     9
Name: FISHING, dtype: int64
---- Fee ---
No     23
Yes    14
Name: Fee, dtype: int64
---- Grills ---
No     31
Yes     6
Name: Grills, dtype: int64
---- HorseTrail ---
Possible           16
Not Recommended    13
Designated x 3      2
Designated x 2      2
Not Allowed         1
Pull Through        1
NA                  1
Designated x 4      1
Name: HorseTrail, dtype: int64
---- PICNIC ---
Yes    19
No     18
Name: PICNIC, dtype: int64
---- ParkSpaces ---
24    3
6     2
11    2
35    2
12    2
31    2
17    2
25    2
20    1
7     1
8     1
9     1
15    1
16    1
18    1
56    1
21    1
54    1
27    1
29    1
30    1
32    1
36    1
37    1
49    1
50    1
51    1
1     1
Name: ParkSpaces, dtype: int64
---- RESTROOMS ---
No     20
Yes    17
Name: RESTROOMS, dtype: int64
---- RecycleBin ---
No     25
Yes    12
Name: RecycleBin, dtype: int64
---- THLeash ---
Yes    37
Name: THLeash, dtype: int64
---- TrashCans ---
1.0    22
2.0     9
4.0     3
0.0     1
3.0     1
6.0     1
Name: TrashCans, dtype: int64

# OSMP Trails

**Informational URL:* https://bouldercolorado.gov/open-data/city-of-boulder-osmp-trails/

In [212]:
url_trails = "https://www-static.bouldercolorado.gov/docs/opendata/OSMPTrails.GeoJSON?_ga=2.239917760.2110561214.1553967684-646607836.1553818032"

data = requests.get(url_trails)
data = data.json().get('features')
df = pd.DataFrame.from_records(data)

# Break out data nested in columns into individual columns.
# Extract data from dictionaries within each dataframe column.
# Add those values as new columns.
df2 = df["geometry"].apply(pd.Series)
df3 = df["properties"].apply(pd.Series)

# We do not concatenate the original data back to the dataframe.
# Thus, df is missing from the next line.
df = pd.concat([df2, df3], axis=1)

# Add new columns to break numeric keys into quartiles.
# This makes it easier to summarize counts in the next cells.
df['Mileage_Qcut'] = pd.qcut(df['Mileage'], 4)

df.head()

,coordinates,type,Bicycles,DateFrom,DateTo,Display,Horses,LastGPSd,MeasuredFe,Mileage,OWNER,RID,RegionalNa,SegmentID,Shape_len,TrailName,TrailType,TrlID,WhyChanged,Mileage_Qcut
0,"[[-105.40584827, 40.0046769209, 1.920575596e-0...",LineString,No,2005/12/31,2099/12/31,Yes,No,2016/08/31,-9999,0.106,OSMP,1000,None,296-357-356,562.147648,Boulder Falls,Hiking Trail,296,Re-GPS'd to get better data,"(0.0368, 0.108]"
1,"[[-105.238779788, 39.9236461053, 1.920575596e-...",LineString,Yes,2016/10/26,2099/12/31,Yes,Yes,2016/08/31,-9999,0.876,OSMP,1135,None,116-424-421,4625.547170,Flatirons Vista North,Multi-Use Trail,116,Re-GPS'd to get better data,"(0.312, 2.779]"
2,"[[-105.235685749, 39.9240658734, 1.920575596e-...",LineString,Yes,2016/10/25,2099/12/31,Yes,Yes,2016/08/31,-9999,0.019,OSMP,1140,None,116-430-428,102.623588,Flatirons Vista North,Multi-Use Trail,116,Re-GPS'd to get better data,"(0.002, 0.0368]"
3,"[[-105.236550299, 39.9255403946, 1.920575596e-...",LineString,Yes,2016/10/25,2099/12/31,Yes,Yes,2016/08/31,-9999,0.178,OSMP,1544,None,116-425-424,939.742819,Flatirons Vista North,Multi-Use Trail,116,Re-GPS'd to get better data,"(0.108, 0.312]"
4,"[[-105.235547364, 39.9243026049, 1.920575596e-...",LineString,Yes,2016/10/25,2099/12/31,Yes,Yes,2016/08/31,-9999,0.004,OSMP,1141,None,117-429-428,22.315176,Prairie Vista,Multi-Use Trail,117,Re-GPS'd to get better data,"(0.002, 0.0368]"

In [213]:
# Explore the data for counts, data types, and nullables.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 572 entries, 0 to 571
Data columns (total 20 columns):
coordinates     572 non-null object
type            572 non-null object
Bicycles        572 non-null object
DateFrom        572 non-null object
DateTo          572 non-null object
Display         572 non-null object
Horses          572 non-null object
LastGPSd        572 non-null object
MeasuredFe      572 non-null int64
Mileage         572 non-null float64
OWNER           572 non-null object
RID             572 non-null int64
RegionalNa      572 non-null object
SegmentID       572 non-null object
Shape_len       572 non-null float64
TrailName       572 non-null object
TrailType       572 non-null object
TrlID           572 non-null int64
WhyChanged      572 non-null object
Mileage_Qcut    572 non-null category
dtypes: category(1), float64(2), int64(3), object(14)
memory usage: 85.6+ KB

In [218]:
# And get a sense of counts to see what kind of charts we might be
# able to make.

for c in df.columns[1:]:
    print "---- %s ---" % c
    print df[c].value_counts()

---- type ---
Point    466
Name: type, dtype: int64
---- AKA ---
Shadow Canyon Boulders    6
Satellite Boulders        5
North Terrain Boulders    4
Skunk Canyon East         4
Upper Blues Boulders      4
Monkey Traverse Area      3
Terrain Boulders          3
Skunk Canyon West         3
Physical Boulders         2
Metaphysical Boulders     2
Eldo East Draw            2
First Areas               2
Cloudshadow Area          2
Past Monkey Traverse      2
North Wing                1
Physical Boulder          1
Great Ridge               1
South Wing                1
Upper Terrain Boulders    1
Name: AKA, dtype: int64
---- AreaAccess ---
Cragmoor Rd            81
Sacred Cliffs          78
NCAR                   68
Bear Mountain Drive    65
Chautauqua             64
South Mesa Trail       42
Eldo                   23
Flagstaff              15
Eldorado Mountain      12
Gregory Canyon          8
Mt Sanitas              8
Boulder Canyon          2
Name: AreaAccess, dtype: int64
---- ClosureAct ---
N    461
Y      5
Name: ClosureAct, dtype: int64
---- FEATURE ---
Satellite Boulders                  5
Unknown                             5
Unnamed Boulder                     5
Fern Canyon Boulders                4
The Egg                             2
Round Rock                          2
Unkown                              2
Christmas Block                     2
The Devil's Wings                   2
R-Break                             1
Maroon Bell                         1
Playful Boulder                     1
Laser Beam Crack Boulder            1
Sputnik Boulder                     1
Gumdrop Boulder                     1
Gigantor                            1
BBC Boulder                         1
Capstan                             1
Slab Overlook                       1
Zoofarsus Boulder                   1
The Hand                            1
Tree Bench Boulder                  1
Beehive Left                        1
Southern Dinosaur Egg               1
Ridge One (Like Heaven)             1
Radio IX                            1
Easter Rock                         1
Blarn Stone                         1
Green-Ranger Junction               1
Serpent                             1
                                   ..
Bob Boulder (Wanka Rock)            1
Radio XI                            1
First Flatironette                  1
W.C. Fields Pinnacle                1
Front Porch                         1
The Dome                            1
Upper Blues Boulders                1
Masters Edge                        1
Low Rock North                      1
The Sibling                         1
Second Pinnacle                     1
Big Time                            1
Jug Rock                            1
Sunoutcrop                          1
Blobular Boulder                    1
Pocket Face by Northern Dino Egg    1
Tubular Boulder                     1
Step Stone Boulder                  1
The Bubble                          1
Blarn Spire                         1
Music Pinnacle                      1
Intercept                           1
Slants Boulder                      1
Eldo East Draw Boulders             1
Bulb                                1
Tip Rock                            1
Wall Block                          1
Jaws                                1
Shanahan Crags                      1
Radio VIII                          1
Name: FEATURE, Length: 446, dtype: int64
---- FormationT ---
Boulder    308
Wall       158
Name: FormationT, dtype: int64
---- HCA ---
No     368
Yes     98
Name: HCA, dtype: int64
---- ID ---
0      238
89       1
86       1
85       1
84       1
83       1
82       1
81       1
80       1
79       1
78       1
77       1
76       1
75       1
74       1
73       1
72       1
71       1
70       1
69       1
68       1
67       1
65       1
64       1
63       1
62       1
61       1
88       1
90       1
121      1
      ...
124      1
285      1
286      1
287      1
301      1
312      1
311      1
310      1
309      1
308      1
307      1
306      1
305      1
304      1
303      1
302      1
300      1
288      1
299      1
298      1
297      1
296      1
295      1
294      1
293      1
292      1
291      1
290      1
289      1
122      1
Name: ID, Length: 229, dtype: int64
---- Label ---
0      5
144    1
146    1
147    1
148    1
149    1
150    1
151    1
152    1
153    1
154    1
155    1
156    1
157    1
158    1
159    1
160    1
161    1
162    1
163    1
164    1
165    1
166    1
167    1
168    1
169    1
170    1
145    1
143    1
172    1
      ..
346    1
321    1
320    1
319    1
305    1
294    1
295    1
296    1
297    1
298    1
299    1
300    1
301    1
302    1
303    1
304    1
306    1
318    1
307    1
308    1
309    1
310    1
311    1
312    1
313    1
314    1
315    1
316    1
317    1
232    1
Name: Label, Length: 462, dtype: int64
---- OWNER ---
OSMP           450
PRIVATE         11
STATE PARKS      4
BOCO             1
Name: OWNER, dtype: int64
---- PERMITREQ ---
No     438
Yes     28
Name: PERMITREQ, dtype: int64
---- ROUTES ---
0     373
2      21
3      15
1      14
4       6
7       5
8       4
6       4
5       3
14      3
10      3
30      2
13      2
9       2
34      1
31      1
12      1
16      1
20      1
21      1
22      1
23      1
11      1
Name: ROUTES, dtype: int64
---- SeasonalCl ---
N    358
Y    108
Name: SeasonalCl, dtype: int64
---- UseRating ---
0.00    90
2.00    78
1.80    58
1.00    49
1.25    15
1.50    14
2.17    13
1.60    11
2.20    10
1.20    10
2.88    10
1.40     9
2.14     9
1.75     7
1.71     6
2.75     6
2.63     5
2.38     5
2.50     5
1.33     5
1.83     4
1.17     4
2.78     4
3.00     4
1.86     4
2.29     3
2.57     3
2.19     3
2.43     3
2.67     3
1.94     2
2.72     2
2.13     2
2.07     2
1.92     1
1.93     1
2.25     1
2.33     1
1.67     1
2.58     1
1.30     1
1.43     1
Name: UseRating, dtype: int64
---- UseRating_Qcut ---
(1.0, 1.8]       142
(-0.001, 1.0]    139
(2.0, 3.0]        95
(1.8, 2.0]        90
Name: UseRating_Qcut, dtype: int64
---- ROUTES_Qcut ---
(-0.001, 34.0]    466
Name: ROUTES_Qcut, dtype: int64